<div class="d-flex align-items-center justify-content-center">

  <h1>Welcome to ScheduledTweets</h1>

  <% if @user %>
    Logged in as <%= @user.email %>
    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-primary" %>
  <% end %>
</div>